inst/doc
/vignettes/CompData.Rmd~
/vignettes/HowTo.Rmd
.Rproj.user
/vignettes/CompData.html
/.Rhistory
/.Rbuildignore
/README.md~
*_cache
/vignettes/CompoData_files/figure-html/unnamed-chunk-9-1.png
/vignettes/CompoData.html
/vignettes/CompoData.R
